* html head {
    margin: 0px;
    padding: 0px;
  }

  .main-container {
    width: 100%;
    margin: 0px;
    padding: 0px;
  }

  input {
    width: 97%;
    margin-bottom: 16px;
    font-size: 14px;
    color: #183247;
    padding: 4px 12px;
    min-height: 32px;
    font-weight: 500;
  }


  select {
    width: 97%;
    border-radius: 3px;
    font-size: 14px;
    color: #183247;
    padding: 4px 8px;
    min-height: 32px;
    margin-bottom: 16px;
  }

  select:hover {
    border-color: black;
  }

  option {
    color: #183247;
    font-size: 14px;
  }

  .required {
    color: red;
    padding: 0px 4px;
  }

  .error-message {
    text-align: center;
    color: red;
  }

  .button-container {
    display: flex;
    margin-top: 48px;
    padding-top: 28px;
    justify-content: flex-end;
    margin-right: 4px;
  }

  .btn {
    margin-right: 12px;
    margin-left: 0px;
    font-size: 14px;
    font-weight: normal;
    padding: 5px 15px 6px;
    font-family: sans-serif;
  }

  .secondary-btn {
    background-color: #f9f9f9;
    color: #183247;
    border: 1px solid #dadfe3;
    border-radius: 4px;
    text-transform: capitalize;
  }

  .primary-btn {
    background-color: #264966;
    border: 1px solid #12344d;
    border-radius: 4px;
  }

  .primary-btn:hover {
    color: #ffffff;
    background-color: #12344d;
  }

  .secondary-btn:hover {
    color: #183247;
    background-color: #f3f5f7;
  }

  .label-field {
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 0;
    padding-bottom: 4px;
    margin-left: 0;

  }

  .input-disabled{
    background-color: #efefef;
  }